# === BASE DE DONNÉES ===
MONGODB_URI=


# === AUTHENTIFICATION JWT ===
# Clé secrète pour signer les tokens JWT — choisissez une valeur longue et aléatoire
JWT_SECRET=

# Durée de validité du token (ex: 1h, 24h, 7d)
JWT_EXPIRES_IN=24h

# === SERVEUR ===
PORT=3000

# === ENVIRONNEMENT ===
NODE_ENV=development